target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


# Spring

/.settings

.settings/

# Angular

# compiled output
/src/main/frontend/dist
/src/main/frontend/tmp
/src/main/frontend/out-tsc

# dependencies
/src/main/frontend/node_modules

# e2e
/src/main/frontend/e2e/*.js
/src/main/frontend/e2e/*.map